.clients {
  padding-top: 60px;
  padding-bottom: 60px;
}

.clients__title {
  font-weight: bold;
  font-size: 28px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__link {
  /*width: 210px;*/
  height: 92px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  width: 89px;
  height: 40px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.clients__item {
  flex-basis: calc(100% / 2 - 30px);
  margin-left: 30px;
  margin-top: 30px;
}

@media screen and (min-width: 768px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients__item {
    flex-basis: calc(100% / 3 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .clients__list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
  }

  .clients__item {
    flex-basis: calc(100% / 6 - 30px);
    margin-left: 30px;
    margin-top: 30px;
  }

  .clients__link {
    width: 170px;
    height: 90px;
  }
}

/*.clients__title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients__list {
  display: flex;
}

.clients__link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
    border: 1px solid var(--accent-color);
  }
}

.clients__icon {
  width: 89px;
  height: 40px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .clients__link:hover &,
  .clients__link:focus & {
    fill: var(--accent-color);
  }
}

.clients__item {
  &:not(:last-child) {
    margin-right: 30px;
  }
}

.clients {
  padding-top: var(--section-pt);
  padding-bottom: var(--section-pb);
}*/
