.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 450px;
  height: auto;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__close-icon {
  width: 11px;
  height: 11px;
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  height: 1.5;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__box {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__check {
  display: flex;
  margin-top: 10px;
  align-items: center;
  color: #757575;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 8px;
    margin-left: 12px;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__term:checked + &::before {
    background-color: var(--accent-color);
    background-image: url(../image/ICONS/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px var(--accent-color);
  }

  .modal__term:focus + &k::before {
    border: 1px solid var(--accent-color);
    border-radius: 2px;
  }
}

.modal-form-term {
  margin-top: 20px;
}

.modal__btn {
  min-width: 200px;
  padding: 10px 56px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  align-self: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-color);
  margin-top: 40px;
}

.modal__link {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}

@media screen and (min-width: 768px) {
  .modal {
    width: 450px;
    height: 609px;
  }
}

@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

/*.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 580px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal__close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    fill: var(--accent-color);
  }
}

.modal__close-icon {
  width: 11px;
  height: 11px;
}

.modal__field {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: #757575;
  margin-bottom: 10px;
}

.modal__title {
  font-weight: bold;
  font-size: 20px;
  height: 23px;
  line-height: 100%;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
}

.modal__form {
  display: flex;
  flex-direction: column;
}

.modal__input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .modal__input:focus + & {
    fill: var(--accent-color);
  }
}

.modal__box {
  display: block;
  position: relative;
  margin-top: 4px;
}

.modal__comment {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &::placeholder {
    color: rgba(117, 117, 117, 0.5);
  }

  &:focus {
    outline: none;
    border-color: var(--accent-color);
  }
}

.modal__check {
  display: flex;
  margin-top: 10px;
  font-size: 14px;
  align-items: center;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;

  &::before {
    display: block;
    content: "";
    width: 16px;
    height: 15px;
    margin-right: 8px;
    margin-left: 12px;
    border: 1px solid #000000;
    cursor: pointer;
    border-radius: 2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-image 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .modal__term:checked + &::before {
    background-color: var(--accent-color);
    background-image: url(../image/ICONS/Vector.svg);
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2px var(--accent-color);
  }

  .modal__term:focus + &k::before {
    border: 1px solid var(--accent-color);
    border-radius: 2px;
  }
}

.modal-form-term {
  margin-top: 20px;
}

.modal__btn {
  min-width: 200px;
  padding: 10px 56px;
  border: 1px solid var(--accent-color);
  border-radius: 4px;
  align-self: center;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.33;
  letter-spacing: 0.09em;
  cursor: pointer;
  background-color: var(--accent-color);
  color: var(--white-color);
  margin-top: 40px;
}

.modal__link {
  color: var(--accent-color);
}

.is-hidden {
  opacity: 0;
  visibility: visible;
  pointer-events: none;
}
*/
