:root {
  --main-front: "Roboto", sans-serif;
  --secondary-front: "Raleway", sans-serif;
  --accent-color: #2196f3;
  --heading-color: #212121;
  --text-color: #757575;
  --white-color: #ffffff;
  --main-background: #e5e5e5;
  --second-background: #f5f4fa;
  --dark-background: #2f303a;
  --section-pb: 94px;
  --section-pt: 94px;
}
